body{
  background-color: black;
}

.game-area{
  position: relative;
  width: 600px;
  height: 500px;
  border: 2px solid red;
  border-radius: 10px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #abbfc0;
}

